@import url("https://fonts.googleapis.com/css2?family=Averia+Serif+Libre&display=swap");
/* font-family: 'Averia Serif Libre', cursive; */
:root {
    --color-prime: #fd4f00;
    --shadow-small: 0rem 0.1rem 0.25rem #00000024;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid #00000022; */
    -webkit-tap-highlight-color: transparent;
}

html,
body,
#root {
    height: 100%;
}
body {
    font-family: "Averia Serif Libre", sans-serif;
    margin: 0;
}
